<aside class="row">
  <div class="well span2" style="padding: 8px 0;">
    <ul class="nav nav-list" id="product_nav">
      <li class="nav-header">Information</li>
      <li class="active"><a href="#"><i class="icon-pencil icon-white"></i> Product</a></li>
      <li><a href="#"><i class="icon-star"></i> Price</a></li>
      <li><a href="#"><i class="icon-map-marker"></i> Store</a></li>
      <li><a href="#"><i class="icon-picture"></i> Image</a></li>
      <li><a href="#"><i class="icon-tags"></i> Tags</a></li>
      <li class="nav-header">Stock</li>
      <li><a href="#"><i class="icon-th"></i> Quantity</a></li>
      <li><a href="#"><i class="icon-barcode"></i> BAR-code</a></li>
      <li><a href="#"><i class="icon-qrcode"></i> QR-code</a></li>
      <li class="nav-header">Marketing</li>
      <li><a href="#"><i class="icon-flag"></i> Campaign</a></li>
      <li><a href="#"><i class="icon-facetime-video"></i> Promotions</a></li>
    </ul>
  </div>
</aside>