<div class="alert alert-error" id="danger-confirm">
  <a class="close" href="#" onclick="dangerClose()">×</a>
  <h4 class="alert-heading"><span></span> will be gone!</h4>
  <p id="danger-msg">What you are about to do is irreversible and your product will be removed permanently</p>                            
  <a class="btn btn-danger" href="#" data-method="delete">Proceed</a> 
  <a class="btn" href="#" onclick="dangerClose()">Cancel</a>
</div>